a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline
}

a:active, a:hover {
  outline: 0
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-size: 100%
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:focus {
  outline: 0
}

audio, img, video {
  max-width: 100%;
  height: auto
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle
}

iframe {
  border: 0
}

textarea {
  overflow: auto;
  vertical-align: top;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none
}

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  border: 0;
  outline: none
}

button, input {
  line-height: normal
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td, th {
  padding: 0;
  text-align: left
}

.c-coral {
  color: #ff984e
}

@font-face {
  font-weight: 400;
  font-family: Gotham;
  font-style: normal;
  src: local("Gotham"), url(../../assets/fonts/Gotham-Book-a9770ce0cfd14dc70ca0220a1979eca8.eot?#iefix) format("embedded-opentype"), url(../../assets/fonts/Gotham-Book-0e2700e8385f5168dea51cef4c845397.woff2) format("woff2"), url(../../assets/fonts/Gotham-Book-2941e6b314a289c151f85d64055bc397.woff) format("woff"), url(../../assets/fonts/Gotham-Book-e8927415373262bd04a83ef480b99f3b.ttf) format("truetype")
}

@font-face {
  font-weight: 500;
  font-family: Gotham;
  font-style: normal;
  src: local("Gotham"), url(../../assets/fonts/Gotham-Medium-c2b3715faed9680ccc584bc55b1c71a6.eot?#iefix) format("embedded-opentype"), url(../../assets/fonts/Gotham-Medium-dbd93dcd9f0aa3e74ccc7e698b653afa.woff2) format("woff2"), url(../../assets/fonts/Gotham-Medium-66f56f5d31e78d2ac4eb001f3a34fed3.woff) format("woff"), url(../../assets/fonts/Gotham-Medium-aa591497ced110ddfcc99e784534fee3.ttf) format("truetype")
}

@font-face {
  font-weight: 700;
  font-family: Gotham;
  font-style: normal;
  src: local("Gotham"), url(../../assets/fonts/Gotham-Bold-932054bb66a8103ba419d813a279e70c.eot?#iefix) format("embedded-opentype"), url(../../assets/fonts/Gotham-Bold-b8ec0dba7502023db2b4285cfc7d4ea3.woff2) format("woff2"), url(../../assets/fonts/Gotham-Bold-c43129eb9489898ccc4bf8f68a3cc0a9.woff) format("woff"), url(../../assets/fonts/Gotham-Bold-c4ae957126764824d354faf04f788c34.ttf) format("truetype")
}

@font-face {
  font-weight: 900;
  font-family: Gotham;
  font-style: normal;
  src: local("Gotham"), url(../../assets/fonts/Gotham-Black-bfb2acefe751f2e9d2ddad5c7823335b.eot?#iefix) format("embedded-opentype"), url(../../assets/fonts/Gotham-Black-39075b5a135f37a59887805db2ce5a21.woff2) format("woff2"), url(../../assets/fonts/Gotham-Black-e0047a87d3d1ff0ad468271405b172f4.woff) format("woff"), url(../../assets/fonts/Gotham-Black-1eade7fc3f28ebb187ef3f296ee02a3c.ttf) format("truetype")
}

._h1-like {
  font-size: 4rem;
  line-height: 100%;
  font-size: 2.5rem
}

._h1-like--mob-sm {
  font-size: 2rem
}

._h2-like, .sub-heading {
  font-size: 2.5rem;
  line-height: 120%;
  font-size: 1.5rem
}

._h3-like {
  font-size: 2rem;
  line-height: 125%;
  font-size: 1.5rem
}

._h4-like {
  font-size: 1.5rem;
  line-height: 133%;
  font-size: 1.125rem
}

._fz-main-sm {
  font-size: .875rem
}

._fz-main-lg {
  font-size: 1rem
}

.sub-heading {
  font-weight: 500;
  line-height: 120%;
  opacity: .8
}

html {
  color: #fff
}

body, html {
  font-size: 1rem
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: Gotham, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

a {
  text-decoration: none
}

li, ul {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.u-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 73rem
}

.u-box-shadow--positive {
  -webkit-box-shadow: -10px 0 0 #3fc500;
  box-shadow: -10px 0 0 #3fc500
}

.u-box-shadow--negative {
  -webkit-box-shadow: -10px 0 0 #ff984e;
  box-shadow: -10px 0 0 #ff984e
}

.u-product-name {
  font-weight: 900
}

.advantages, .doctor-opinion, .proof, .reviews {
  padding-bottom: 10.625rem
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem
}

.logo {
  font-weight: 999;
  font-size: 2rem;
  line-height: 125%;
  opacity: .8
}

.check-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -1rem
}

.check-items__item {
  position: relative;
  padding-left: 4.125rem;
  font-weight: 700;
  line-height: 150%;
  opacity: .8;
  margin: 1.125rem
}

.check-items__item .c-coral {
  display: block;
  font-weight: 500
}

.check-items__item:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: -1.125rem;
  width: 3rem;
  height: 2.125rem;
  background: url(../../assets/images/check-cd09c622ea9678e8ef70d21d22f3bafa.svg) no-repeat 50%;
  background-size: contain;
  -webkit-transform: translateX(1.125rem);
  -ms-transform: translateX(1.125rem);
  transform: translateX(1.125rem)
}

.form {
  max-width: 65rem;
  margin-top: 6.25rem;
  padding: 1.875rem 1.5625rem;
  overflow: hidden;
  font-size: 1rem;
  background: hsla(0, 0%, 100%, .2);
  border-radius: 25px 0;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25)
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.form__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.form__input, .form__select {
  color: #252525;
  background: #fff
}

.form__input {
  -ms-flex-preferred-size: 14rem;
  flex-basis: 14rem;
  width: 10.625rem;
  padding: .25rem .5rem;
  font-size: 16px;
  line-height: 200%;
  border-radius: 10px 0;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25)
}

.form__input::-webkit-input-placeholder {
  color: #252525
}

.form__input::-moz-placeholder {
  color: #252525
}

.form__input:-ms-input-placeholder {
  color: #252525
}

.form__input::-ms-input-placeholder {
  color: #252525
}

.form__input::placeholder {
  color: #252525
}

.form__asterisk {
  margin-top: 0.5rem;
  text-align: center;
}

.form__submit-button {
  flex-shrink: 0;
  -ms-flex-preferred-size: 14rem;
  flex-basis: 14rem;
  width: 10.625rem;
  height: 2.5rem;
  padding: .25rem 0;
  color: #252525;
  font-weight: 900;
  font-size: 0.9rem;
  font-family: Gotham, sans-serif;
  line-height: 133%;
  text-align: center;
  text-transform: uppercase;
  background: -o-linear-gradient(176.83deg, rgba(255, 245, 0, .2) 21.34%, hsla(0, 0%, 100%, .2) 53.66%, rgba(255, 245, 0, .2) 80.34%), #fff500;
  background: linear-gradient(273.17deg, rgba(255, 245, 0, .2) 21.34%, hsla(0, 0%, 100%, .2) 53.66%, rgba(255, 245, 0, .2) 80.34%), #fff500;
  border-radius: 10px 0;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, .35), inset 0 -4px 4px rgba(0, 0, 0, .25), inset 0 4px 4px hsla(0, 0%, 100%, .48);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .35), inset 0 -4px 4px rgba(0, 0, 0, .25), inset 0 4px 4px hsla(0, 0%, 100%, .48);
  cursor: pointer
}

.hero {
  position: relative
}

.hero:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../../assets/images/hero-bg-5afff649ac8a18518586fdf5c190f36d.png) no-repeat 100% 0
}

.hero__content {
  position: relative
}

.hero__heading {
  font-weight: 900;
  max-width: 50rem;
  line-height: 112%;
  margin-bottom: 2.5rem
}

.hero__benefit {
  font-weight: 700;
  line-height: 200%;
  position: relative;
  padding-left: 2.625rem
}

.hero__benefit:before {
  position: absolute;
  display: block;
  content: "";
  width: .9375rem;
  height: .9375rem;
  top: 1em;
  left: -1.6875rem;
  background-color: #ffcca8;
  -webkit-transform: translateX(1.6875rem) translateY(-50%);
  -ms-transform: translateX(1.6875rem) translateY(-50%);
  transform: translateX(1.6875rem) translateY(-50%)
}

.hero__product {
  position: absolute;
  display: block;
  top: 0;
  right: 5%;
}

.hero__product:after {
  position: absolute;
  display: block;
  
  width: 11.5rem;
  height: 9rem;
  top: -35%;
  right: 10%;
  background: url(../../assets/images/quality-mark-ba414bca0a34a30b314f3c3b2a87e054.svg) no-repeat 50%;
  background-size: contain
}

.recommended {
  margin-top: 1.875rem;
  padding-bottom: 11.0625rem;
  position: relative
}

.recommended:before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../../assets/images/runner-de2144ea8c20bcfd1580ca9521205f81.png) no-repeat 100%;
  background-size: contain;
  z-index: -1
}

@supports(mix-blend-mode:luminosity) {
  .recommended:before {
    mix-blend-mode: luminosity
  }
}

.recommended__heading {
  font-weight: 700;
  margin-bottom: 1rem
}

.recommended__heading .c-coral {
  font-weight: 900
}

.recommended .separator {
  margin-bottom: 3.125rem
}

.recommended__subheading {
  margin-bottom: 2rem
}

.recommended__description {
  margin-bottom: 1.875rem
}

.recommended__description .c-coral {
  font-weight: 700
}

.recommended__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: italic;
  max-width: 21.875rem
}

.recommended__label span {
  -ms-flex-item-align: center;
  align-self: center
}

.recommended__label:before {
  position: static;
  display: block;
  content: "";
  width: 3.625rem;
  height: 3rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 3.625rem;
  flex: 0 0 3.625rem;
  margin-right: 1.375rem;
  background: url(../../assets/images/organisation-0d011bc46636ed6123dc3e2ad9392b12.svg) no-repeat 50%;
  background-size: contain
}

.figure__img {
  margin-bottom: 1rem
}

.consequences {
  overflow: hidden;
  padding-bottom: 11.0625rem
}

.consequences__heading {
  font-weight: 700;
  margin-bottom: 3.5rem
}

.consequences__heading .c-coral {
  font-weight: 900
}

.consequences__figures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: -1.5rem
}

.consequences__figure {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 19.375rem;
  flex: 0 1 19.375rem;
  margin: 1.5rem
}

.ingredients {
  overflow: hidden;
  padding-bottom: 23.75rem
}

.ingredients__heading {
  font-weight: 700;
  margin-bottom: 1rem
}

.ingredients__heading .c-coral {
  font-weight: 900
}

.ingredients__subheading {
  margin-bottom: 3.5rem
}

.ingredients__content {
  position: relative
}

.ingredients__graph--desktop, .ingredients__graph--tablet {
  display: none
}

.ingredients__product {
  -ms-flex-item-align: center;
  align-self: center
}

.ingredient__heading {
  font-weight: 900
}

.ingredient__description {
  line-height: 150%
}

.advantages {
  position: relative;
  overflow: hidden
}

.advantages:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/images/advantages-bg-adc1074dc00115ba53a062a4962d03eb.png) no-repeat 100%;
  background-size: contain;
  z-index: -1
}

.advantages__heading {
  font-weight: 700;
  margin-bottom: .875em
}

.advantages__heading .c-coral {
  font-weight: 900
}

.advantages__figures {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: -1.5rem
}

.advantages__figures, .advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.advantages__row:first-of-type {
  margin-bottom: 3rem
}

.advantages__figure {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 19.375rem;
  flex: 0 1 19.375rem;
  margin: 1.5rem
}

.proof {
  overflow: hidden
}

.proof__heading {
  margin-bottom: .875em;
  font-weight: 700
}

.proof__heading .c-coral {
  font-weight: 900
}

.proof__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: -.9375rem
}

.proof__card {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20.625rem;
  flex: 0 1 20.625rem;
  margin: .9375rem
}

.product-card {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  overflow: hidden;
  background-color: #fff;
  color: #252525
}

.product-card, .product-card__header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 25px 0
}

.product-card__header {
  height: 11.25rem;
  background-color: hsla(0, 0%, 100%, .9);
  padding: 1rem 2.1875rem .625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.product-card__img {
  -ms-flex-item-align: center;
  align-self: center
}

.product-card__list {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  line-height: 150%;
  padding-bottom: 1.875rem;
  padding-top: .625rem
}

.product-card__fact {
  position: relative;
  padding-left: 2.1875rem;
  padding-right: 1rem
}

.product-card__fact:before {
  position: absolute;
  display: block;
  content: "";
  width: .8125em;
  height: .8125em;
  top: .75em;
  left: -.375rem;
  background: url(../../assets/images/check--positive-bbb401fe436ab09454b0aeed824b3c40.svg) no-repeat 50%;
  background-size: contain;
  -webkit-transform: translateX(1.1875rem) translateY(-50%);
  -ms-transform: translateX(1.1875rem) translateY(-50%);
  transform: translateX(1.1875rem) translateY(-50%)
}

.product-card__fact:not(:last-of-type) {
  margin-bottom: 1rem
}

.product-card__title {
  font-weight: 700
}

.product-card.pills .product-card__img {
  min-width: 24.375rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: -6.25rem -6.25rem -6.25rem -9.375rem
}

.product-card.cream .product-card__img {
  min-width: 14.1875rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: -1.875rem -3.125rem -1.875rem -5rem
}

.product-card--positive .product-card__list {
  font-weight: 500
}

.product-card--positive .product-card__title {
  font-weight: 900
}

.product-card--positive .product-card__header {
  background: #f6ffeb
}

.product-card--negative .product-card__fact:before {
  background-image: url(../../assets/images/cross--negative-bb596179fed2d04d33d231fe4cbb33cc.svg)
}

.product-card--negative .product-card__list {
  background-color: hsla(0, 0%, 82.7%, .5)
}

.product-card--negative .product-card__header {
  background-color: hsla(0, 0%, 100%, .8)
}

.doctor-opinion {
  overflow: hidden
}

.doctor-opinion__heading {
  font-weight: 700;
  margin-bottom: .875em
}

.doctor-opinion__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: -1.8125rem;
  margin-right: -1.8125rem
}

.doctor-opinion__img-desktop, .doctor-opinion__img-tablet, .doctor-opinion__quote {
  margin-left: 1.8125rem;
  margin-right: 1.8125rem
}

.doctor-opinion__img-desktop, .doctor-opinion__img-tablet {
  display: none
}

.doctor-opinion__opinion {
  line-height: 133%;
  margin-bottom: 1.4583333333em
}

.doctor-opinion__author {
  font-weight: 900
}

.doctor-opinion__author span {
  margin-top: .3125em;
  display: block;
  font-weight: 400;
  line-height: 133%;
  color: #fff
}

.doctor-opinion .c-coral {
  font-weight: 900
}

.reviews {
  overflow: hidden
}

.reviews__heading {
  margin-bottom: .96875em;
  font-weight: 700
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: -.625rem
}

.reviews__review {
  margin: .625rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 22.125rem;
  flex: 0 1 22.125rem
}

.review {
  overflow: hidden;
  background-color: hsla(0, 0%, 100%, .8);
  border-radius: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1rem
}

.review img {
  margin-top: -1px
}

.review__content {
  color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2rem
}

.review__comment {
  font-weight: 500
}

.review__author {
  font-weight: 700;
  display: block;
  margin-top: 1.875rem
}

.order {
  overflow: hidden
}

.order__heading {
  font-weight: 700;
  margin-bottom: .875em
}

.order__heading .c-coral {
  font-weight: 900
}

.order__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: -1.625rem
}

.order__step {
  margin: 1.625rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: 11.25rem;
  flex-basis: 11.25rem
}

.order .separator {
  margin-top: 5rem;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
  -ms-transform: matrix(1, 0, 0, -1, 0, 0);
  transform: matrix(1, 0, 0, -1, 0, 0)
}

.step__img {
  margin-bottom: 1.25rem;
  display: block;
  margin-right: auto;
  margin-left: auto
}

.step__content {
  font-weight: 700
}

.step__content .c-coral {
  font-weight: 900
}

.credentials {
  padding: 5.625rem .625rem
}

.credentials__address {
  text-align: center;
  margin-bottom: 1.25em
}

.credentials__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: -.9375rem
}

.credentials__link {
  margin: .9375rem;
  color: #fff
}

.credentials__link:hover {
  text-decoration: underline
}

body {
  background-color: #252525
}

.slick-dots li button:before {
  color: #ff984e;
  font-size: 1.125rem;
  opacity: 1
}

.slick-dots li.slick-active button:before {
  color: #fff
}

@media screen and (min-width:320px) {
  ._h1-like {
    font-size: calc(2.5rem + 24*(100vw - 320px)/704)
  }
  ._h1-like--mob-sm {
    font-size: calc(2rem + 32*(100vw - 320px)/704)
  }
  ._h2-like, .sub-heading {
    font-size: calc(1.5rem + 16*(100vw - 320px)/704)
  }
  ._h3-like {
    font-size: calc(1.5rem + 8*(100vw - 320px)/704)
  }
  ._h4-like {
    font-size: calc(1.125rem + 6*(100vw - 320px)/704)
  }
  ._fz-main-sm {
    font-size: calc(.875rem + 2*(100vw - 320px)/704)
  }
  ._fz-main-lg {
    font-size: calc(1rem + 2*(100vw - 320px)/704)
  }
  .review {
    font-size: calc(1rem + 4*(100vw - 320px)/704)
  }
}

@media only screen and (min-width:768px) {
  .form__wrapper {
    margin: -.3125rem
  }
  .form__input, .form__submit-button {
    margin: .3125rem
  }
  .figure__caption {
    padding-left: .75rem
  }
  .ingredients__graph--desktop {
    display: block;
    max-width: 90%
  }
  .ingredients__product {
    position: absolute;
    left: -4%;
    top: -4%;
    max-width: 38%
  }
  .ingredient {
    position: absolute
  }
  .ingredient:first-of-type {
    position: static;
    margin-bottom: 1.4375rem;
    max-width: 23.1875rem;
    margin-left: auto
  }
  .ingredient:nth-of-type(2) {
    left: calc(70% + 5vw);
    top: calc(60% - 5vw)
  }
  .ingredient:nth-of-type(3) {
    top: calc(58% + 1vw);
    left: 25%;
    max-width: 27.7288732394%
  }
  .ingredient:nth-of-type(3) .ingredient__heading {
    max-width: 14.8125rem
  }
  .ingredient:nth-of-type(4) {
    left: 54%;
    top: calc(105% - 8vw)
  }
  .ingredient:nth-of-type(5) {
    max-width: 35%;
    top: 102%;
    left: 10%
  }
  .doctor-opinion__img-desktop {
    display: block
  }
}

@media screen and (min-width:1024px) {
  ._h1-like, ._h1-like--mob-sm {
    font-size: 4rem
  }
  ._h2-like, .sub-heading {
    font-size: 2.5rem
  }
  ._h3-like {
    font-size: 2rem
  }
  ._h4-like {
    font-size: 1.5rem
  }
  ._fz-main-sm {
    font-size: 1rem
  }
  ._fz-main-lg {
    font-size: 1.125rem
  }
  .review {
    font-size: 1.25rem
  }
}

@media only screen and (min-width:1024px) {
  .ingredient:nth-of-type(3) {
    left: 25%;
    top: 58%
  }
  .ingredient:nth-of-type(4) {
    left: 62%;
    top: calc(105% - 13vw)
  }
  .ingredient:nth-of-type(5) {
    max-width: 20.3125rem
  }
}

@media only screen and (min-width:1248px) {
  .logo {
    margin-right: .4375rem
  }
  .ingredients__graph--desktop {
    max-width: none
  }
  .ingredient:nth-of-type(2) {
    left: 78%;
    max-width: 15rem;
    top: 50%
  }
  .ingredient:nth-of-type(4) {
    left: 62%;
    top: 80%
  }
}

@media only screen and (max-width:1439px) {
  html {
    font-size: 1rem
  }
}

@media only screen and (max-width:1247px) {
  html {
    font-size: 1rem
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .logo {
    margin-bottom: 1rem
  }
  .form {
    margin-top: 8vw
  }
  .hero__product {
    max-width: 35vw;
    right: 6vw;
    top: calc(10.625rem - 1vw)
  }
  .hero__product:after {
    max-width: 18vw
  }
}

@media only screen and (max-width:1023px) {
  html {
    font-size: 1rem
  }
  .check-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .check-items__item {
    -ms-flex-negative: 0;
    flex-shrink: 0
  }
  .hero:after {
    background-size: cover;
    background-position: 5% 0;
    opacity: .5
  }
  .hero__product {
    right: 1.5vw
  }
  .advantages__row, .proof__cards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around
  }
  .proof__card:last-of-type {
    -webkit-box-flex: .3;
    -ms-flex-positive: .3;
    flex-grow: .3
  }
  .order__steps, .reviews__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .order__step, .order__steps, .reviews__content {
    -ms-flex-pack: distribute;
    justify-content: space-around
  }
  .order__step {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0
  }
}

@media only screen and (max-width:767px) {
  html {
    font-size: 1rem
  }
  .advantages, .doctor-opinion, .proof, .reviews {
    padding-bottom: 23vw
  }
  .form {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .form__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 28.125rem;
    margin-right: auto;
    margin-left: auto
  }
  .form__input {
    padding-left: 1.375rem;
    padding-right: 1.375rem
  }
  .form__input, .form__submit-button {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 100%;
    margin-bottom: 1rem
  }
  .hero:after {
    background-size: cover;
    background-position: 60% 0
  }
  .hero__product {
    max-width: 100%;
    margin-top: 13vw;
    position: relative;
    display: block;
    text-align: center;
    top: auto;
    right: auto;
    margin-right: auto;
    margin-left: auto
  }
  .hero__product:after {
    max-width: none;
    top: -5px;
    right: 5px;
  }
  .recommended {
    padding-bottom: 23vw
  }
  .recommended:before {
    background-size: cover;
    background-position-x: 45%
  }
  .recommended .separator {
    display: none
  }
  .consequences {
    padding-bottom: 23vw
  }
  .ingredients {
    padding-bottom: 6.25rem
  }
  .ingredients__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .ingredients__graph--tablet {
    display: block;
    -ms-flex-item-align: center;
    align-self: center;
    position: absolute;
    z-index: -1;
    min-width: 30rem;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
  }
  .ingredients__elements {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
  .ingredients__ingredient {
    max-width: 55%
  }
  .ingredients__ingredient:not(:first-of-type) {
    margin-bottom: 11.25rem
  }
  .ingredient:nth-of-type(odd) {
    -ms-flex-item-align: end;
    align-self: flex-end
  }
  .advantages:before {
    background: none
  }
  .proof__cards {
    width: 70%;
    min-width: 20.625rem;
    margin-right: auto;
    margin-left: auto
  }
  .proof__card:last-of-type {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0
  }
  .doctor-opinion__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .doctor-opinion__img-tablet {
    display: block;
    margin-bottom: 1.5rem
  }
  .reviews__content {
    width: 100%;
    max-width: 22.125rem;
    margin-right: auto;
    margin-left: auto
  }
  .credentials {
    padding: 10vw .625rem
  }
}

@media only screen and (max-width:639px) {
  html {
    font-size: 1rem
  }
  .u-wrapper {
    max-width: 27rem
  }
  .header {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .logo {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 3rem
  }
  .check-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
  }
  .recommended__label:before {
    width: 5.9375rem;
    height: 5.625rem;
    -ms-flex-preferred-size: 5.9375rem;
    flex-basis: 5.9375rem
  }
  .ingredients__ingredient {
    max-width: 60%
  }
  .ingredients__ingredient:not(:first-of-type) {
    margin-bottom: 8.125rem
  }
  .doctor-opinion__row {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}

@media only screen and (max-width:479px) {
  .hero__product:after {
    max-width: 44%
  }
}

@media only screen and (max-width:399px) {
  .ingredients__ingredient {
    width: 11.375rem;
    max-width: 65%
  }
  .ingredients__ingredient:not(:first-of-type) {
    margin-bottom: 3.4375rem
  }
  .proof__cards {
    min-width: 18.75rem
  }
}

.product-img {
  max-width: 550px;

  width: 100%;
}

.product-card__img.img-2 {
  max-width: 200px;
  width: 100%;
  margin-top: -40px;
}